body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.cm-gutters {
  border-left : 1px solid #ddd;
}

.editor-container {
  display: flex;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  
  .panel-left {
    width: 240px;
    overflow: scroll;
    margin: 0px 2px;
  }
  
  .content {
    width: 100%;
  }
}

.file-tree {
  font-family: 0.8em;
  
  a, a:visited {
    text-decoration: none;
    color: black;
  }
  
  ul {
    padding-left: 18px;
    list-style-type: none;
  }
   
  & > ul {
    padding-left: 0px;
  }
   
  li {
    white-space: nowrap;
    padding: 2px 0px;
  }
}